$primary-color: #43cea2;
$secondary-color: #185a9d;
$text-color: #272727;
$container-color: #ded9ee;
$border-r: 2rem;
$weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);
$logo-color: #4b0082;
$transition: all 0.4s ease-in-out;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@function get-text-color($color) {
  @if (lightness($color) > 15) {
    @return #000;
  } @else {
    @return #e0e0e0;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin logo {
  font-weight: map-get($weights, bold);
  font-family: 'Rampart One', cursive;
  color: $logo-color;
}
