@import './config';
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
.login-page {
  @include flex-center;
  height: 90vh;
  flex-direction: column;

  &-header {
    text-align: center;
    margin-top: 2rem;
    cursor: default;
    &-logo {
      font-size: 4.2rem;
      @include logo;
      cursor: default;
      @include mobile {
        font-size: 3rem;
        margin-top: 1rem;
      }
    }

    &-headline {
      font-size: 5rem;
      font-family: fantasy;
      color: $container-color;
      margin-top: 3rem;
      letter-spacing: 5px;
      animation: floatt 2s alternate ease-in-out infinite;
      @include mobile {
        font-size: 2.8rem;
        padding: 0 1rem;
        margin-bottom: 1.2rem;
      }

      @keyframes floatt {
        0% {
          transform: translateY(-2rem);
        }

        100% {
          transform: translateY(2rem);
        }
      }
    }
  }
  &-container {
    margin: auto;
    background: $container-color;
    padding: 2rem;
    border-radius: $border-r;
    width: 50%;
    @include mobile {
      width: 94%;
    }

    .login-page-title {
      @include flex-center;
      margin-bottom: 2rem;
      font-weight: 900;
      font-size: 3rem;
    }
  }

  &-btns {
    @include flex-center;
    flex-direction: column;

    .btn {
      padding: 0.8rem 1.8rem;
      @include mobile {
        font-size: 1rem;
      }
    }
  }
}
