@import './config';

.login-page {
  @include flex-center;
  height: 100vh;

  &-container {
    background: $container-color;
    padding: 2rem;
    border-radius: 2rem;
    width: 50%;

    .login-page-title {
      @include flex-center;
      margin-bottom: 2rem;
      font-weight: 900;
      font-size: 3rem;
    }
  }

  &-btns {
    @include flex-center;
    flex-direction: column;
  }
}
