@import './config';
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
.login-page {
  @include flex-center;
  height: 90vh;
  flex-direction: column;

  &-header {
    text-align: center;
    margin-top: 2rem;
    &-logo {
      font-size: 4.2rem;
      @include logo;
    }

    &-headline {
      font-size: 5rem;
      font-family: fantasy;
      color: $container-color;
      margin-top: 3rem;
      letter-spacing: 5px;
      animation: floatt 2s alternate ease-in-out infinite;

      @keyframes floatt {
        0% {
          transform: translateY(-2rem);
        }

        100% {
          transform: translateY(2rem);
        }
      }
    }
  }
  &-container {
    margin: auto;
    background: $container-color;
    padding: 2rem;
    border-radius: $border-r;
    width: 50%;

    .login-page-title {
      @include flex-center;
      margin-bottom: 2rem;
      font-weight: 900;
      font-size: 3rem;
    }
  }

  &-btns {
    @include flex-center;
    flex-direction: column;

    .btn {
      padding: 0.8rem 1.8rem;
      border-radius: $border-r;
      outline: none;
      border: none;
      margin: 1rem auto;
      background: linear-gradient(to right, $primary-color, $secondary-color);
      font-size: 1.4rem;
      color: lighten($container-color, 60%);
      font-weight: map-get($weights, medium);
      cursor: pointer;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
      transition: $transition;
      &:hover {
        transform: translateY(-7px);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
